<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to My Awesome Site, <%= @user %>!</h1>
    <p>
      You have successfully signed up for our website. Please click on the link below to log in:
      <%= link_to 'Log in', @url %>
    </p>
  </body>
</html>
